@import "~bootstrap/scss/bootstrap";

a {
	text-decoration: none !important;
	color: inherit !important
}
.dropdown-menu-end {
  right: 0;
  left: auto;
}
.cart__badge{
	background: transparent !important;
}